h1 {
  font-size: 40px;
  text-align: center;
}

.tireImage {
  background-image: url(./assets/F1_tire_Pirelli_PZero_Red.svg.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.double {
  background-color: red;  
  
}

.shopSelection {
  width: 10%;
}

.buttonCost {
  display: flex;
  flex-direction: column;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}